:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#all {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#tittle {
  font-size: 4rem;
  margin-top: 25rem;
}

#buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttonResult {
  background-color: #79777c; /* Cor de fundo azul */
    color: #ffffff; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor do mouse como ponteiro ao passar por cima */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */

    /* Sombra sutil */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.buttonResult:hover {
  background-color: #3e3e3e; /* Cor de fundo azul mais escura ao passar o mouse */
  color: #ffffff; /* Cor do texto branca ao passar o mouse */
}
